extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Create #{type}

                // register form
                form(method='POST' action=`/create/${type}`)
                    div.form-group
                        label(for='name') Name:
                        input#name.form-control(type='text', placeholder=`Nombre del ${type}` name='name', required)
                    div.form-group
                        label(for='description') Description:
                        input#description.form-control(type='text', placeholder=`Descripcion del ${type}` name='description')
                    div.form-group
                        label(for='score') Score:
                        input#score.form-control(type='number', placeholder='score of book' name='score')
                    div.form-group
                        label(for='image') Image:
                        input#image.form-control(type='text' name='image')
                    button.btn.btn-primary(type='submit') Create
