@font-face {
    font-family: 'Calling Code';
    font-style: normal;
    font-weight: 400;
    src: local('Calling Code'),local('CallingCode'),
        url("../Fonts/CallingCode-Regular.otf"),
        url("../Fonts/CallingCode-Regular.ttf") format('truetype');
}

.home-page-title-background{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/21/12/10/tv-1844964_960_720.jpg");

    /* Full height */
    height: 400px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading-container-logo{
    width: 500px;
}

.heading-container{
    background: transparent;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.home-page-button{
    font-family: 'Calling Code';
    color: #002652;
    border: #002652 1px solid;
    display: inline-block;
    min-width: 180px;
    /*padding: 20px 30px;*/
    /*border-radius: 5px;*/
    box-shadow: 0  17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all ease-in-out 300ms;
}
.home-page-button:hover{
    color: #002652  !important;
    border: #002652 1px solid !important;
    box-shadow: 0  37px 20px -20px rgba(0, 0, 0, 0.2) !important;
    transform: translate(0, -10px) !important;
}

.home-page-heading-text{
    font-family: 'Calling Code';
}

.heading-text{
    font-family: 'Calling Code';
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    text-transform: none;
    line-height: 1.1500000000000001;
    letter-spacing: normal;
    color: rgba(0,0,0,1);
}

.auto-size-span{
    display:inline-block;
}

.section-background-image-mission{
    background-position: 50% 50%;
    background-image: url("https://spark.adobe.com/page/zUXTQf29ALcyS/images/1f934ff1-67ef-45da-a907-50421806a21c.jpg?asset_id=fe990aa4-6695-4e2d-a34b-2acc49fc425f&img_etag=735fb415fe1d0772a831353fc82a4545&size=1024");
    height: 500px;
    transform: translate3d(0px, -12px, 0px);
}

.section-background-image-vision{
    background-position: 50% 50%;
    background-image: url("https://spark.adobe.com/page/zUXTQf29ALcyS/images/4d29e68d-cdec-4f99-ad03-5a5413b21aa5.jpg?asset_id=e278dd3a-4a1c-411e-a7c3-76107e7a3a0d&img_etag=041e1e3e0b823eff862532bcf73bb540&size=1024");
    height: 500px;
    transform: translate3d(0px, 22px, 0px);
}

.content-container{
    position: absolute;
    right: 15%;
    left: 15%;
    top: 20%;
    bottom: 20%;
}

.content-container p {
    font-family: 'Calling Code';
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    line-height: 1.4;
    letter-spacing: normal;
    color: rgba(0,0,0,1);
    text-align: left;
}

.home-page-images{
    height: 500px;
}


.space {
    margin-bottom: 50px;
}

.home-page-final-section{
    height: 300px;
    background-color: #002652;
}

#scrolldown-span {
    padding-top: 70px;
    top: -40px;
    position: relative;
  }
  #scrolldown-p{
    position: relative;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1.5px solid black;
    border-bottom: 1.5px solid black;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }