

.home-page-title-background{
    /*background: rgb(90,111,157);*/
    /*background: radial-gradient(circle, rgba(90,111,157,0.8099614845938375) 0%, rgba(185,185,185,1) 100%);*/

    background-image: url("https://cdn.pixabay.com/photo/2016/11/21/12/10/tv-1844964_960_720.jpg");

    /* Full height */
    height: 600px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading-container-logo{
    width: 500px;
}

.heading-container{
    background: transparent;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.heading-text{
    font-family: proxima-nova,sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    text-transform: none;
    line-height: 1.1500000000000001;
    letter-spacing: normal;
    color: rgba(0,0,0,1);
}

.auto-size-span{
    display:inline-block;
}

.section-background-image-mission{
    background-position: 50% 50%;
    background-image: url("https://spark.adobe.com/page/zUXTQf29ALcyS/images/1f934ff1-67ef-45da-a907-50421806a21c.jpg?asset_id=fe990aa4-6695-4e2d-a34b-2acc49fc425f&img_etag=735fb415fe1d0772a831353fc82a4545&size=1024");
    height: 637px;
    transform: translate3d(0px, -12px, 0px);
}

.section-background-image-vision{
    background-position: 50% 50%;
    background-image: url("https://spark.adobe.com/page/zUXTQf29ALcyS/images/4d29e68d-cdec-4f99-ad03-5a5413b21aa5.jpg?asset_id=e278dd3a-4a1c-411e-a7c3-76107e7a3a0d&img_etag=041e1e3e0b823eff862532bcf73bb540&size=1024");
    height: 637px;
    transform: translate3d(0px, 22px, 0px);
}

.content-container h4 {
    font-family: proxima-nova,sans-serif;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    line-height: 1.4;
    letter-spacing: normal;
    color: rgba(0,0,0,1);
    text-align: left;
}

.home-page-images{
    height: 500px;
}

div {
    margin-bottom: 50px;
}